* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    min-height: 50vh;
    padding-top: 50px;
    display: flex;
    flex-flow: column;
    gap: 1rem;
    align-items: center;
  }
  
  .counter {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: baseline;
    text-align: center;
    align-items: baseline;
    margin: 20px;
  }
  
  .counter > * {
    height: 100%;
    flex: 1;
    font-size: 32px;
  }
  .inp{
    flex-flow: row;
    display: flex;
    margin: 20px;
  }
  .inp input{
    width: 50px;
  }
  h3{
    margin: 20px;
    flex-flow: row;
    display: flex;
    
  }
 